# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/
*.jar
*.war

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment / Secrets (VERY IMPORTANT)
.env
*.env
*.secret

# Maven Wrapper JAR
!.mvn/wrapper/maven-wrapper.jar

# Docker / Local configs (optional but recommended)
*.pid

# Orchestrator reference / documentation folder
oms-poc-saga-orchestration/